/* /********************************
          NAV BAR Styles
********************************/
.topnav{
    background-color: #d0ada7;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    padding: 0;
}

.topnav a{
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover{
    background-color: beige;
    color: blue;
}

.topnav a.active{
    background-color: burlywood;
    color: brown;
} */

/********************************
          BODY Styles
********************************/
body{
    padding-top: 30px;
    /* background-color:blanchedalmond; */
}

h1{
    color: rgb(93, 170, 116);
}

h2{
    color: pink;
}